.aside {
  position: relative;
  padding: 30px;
  margin-bottom: 2.25rem;
  border-radius: var(--border-radius-1);
  background-color: rgba(var(--info), 0.15);
  width: 90%;
  margin: 2.25rem auto;
  box-shadow: var(--box-shadow-2);

  p {
    margin: 1rem 0;
    color: var(--colors-typeface-primary);
  }

  .iconWrapper {
    overflow: visible;
    position: absolute;
    top: -30px;
    right: -30px;
    color: var(--palette-gray-50);
    background-color: rgb(var(--info));
    border: 10px solid var(--colors-background-primary);
    padding: 8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    transition: border-color 0.2s ease-out;

    svg {
      width: 26px;
      height: 26px;
    }
  }
}
