.tracks {
  margin-top: 5rem;
}

.selectWrapper {
  margin: 2rem 0;
  padding: 1rem;
  border-radius: var(--border-radius-1);
  background: var(--colors-background-secondary);
  width: fit-content;

  > * {
    font-size: var(--font-size-2);
  }

  label {
    display: flex;
    align-items: center;
    font-weight: 700;
  }
  select {
    background: transparent;
    border-radius: var(--border-radius-1);
    color: var(--secondary);
    font-size: var(--font-size-3);
    border: none;
    cursor: pointer;
    margin: 0 0 0 12px;
    width: auto;
  }
}

.track {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid var(--colors-border-primary);
  padding: 2rem 0 1.5rem 0;

  .ranking {
    font-size: var(--font-size-2);
    font-weight: 700;
    color: var(--color-typeface-tertiary);
  }

  .trackNameWrapper {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
  }

  .title {
    font-weight: 700;
    color: var(--colors-typeface-primary);
    max-width: 320px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: color 0.15s ease-out;

    &:hover,
    &:focus {
      color: var(--primary);
    }

    @media (min-width: 768px) {
      max-width: 100%;
    }
  }

  .artist {
    color: var(--colors-typeface-secondary);
    max-width: 320px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    @media (min-width: 768px) {
      max-width: 100%;
    }
  }
}
