.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-1) var(--padding-3);
}

.nav {
  height: 100vh;
  width: 80vw;
  background-color: var(--colors-background-primary);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  box-shadow: var(--shadow-2);

  > button {
    margin: var(--padding-3);
  }
}

.navLinks {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.navLink {
  color: var(--link-color);
  margin-bottom: 1rem;
  cursor: pointer;
  padding: var(--padding-1) var(--padding-3);

  a {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: var(--font-size-4);
  }
}

.navLinkActive {
  color: var(--link-active-color);
  background-color: var(--colors-background-theme-switcher);
  border-left: 5px solid var(--primary);
}

.iconButton {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--colors-background-theme-switcher);
  border: 2px solid var(--border-color, var(--colors-background-primary));
  border-radius: var(--border-radius-1);
  cursor: pointer;

  svg {
    fill: var(--colors-typeface-tertiary);
    width: 24px;
    height: 24px;
  }

  &:focus:not(:focus-visible) {
    outline: 0;
  }
  &:focus {
    outline: 2px solid var(--primary);
    background-color: var(--colors-background-secondary);
  }
}

.progressBar {
  position: absolute;
  bottom: 0px;
  height: 2px;
  transform-origin: left;
  width: 100%;
  background: var(--brand-gradient);
}
