.wrapper {
  margin-bottom: 50px;

  @media (min-width: 480px) {
    margin-bottom: 90px;
  }
}

.wrapperCompact {
  margin-bottom: 0;

  @media (min-width: 480px) {
    margin-bottom: 40px;
  }
}

.title {
  margin-top: 1em;
  margin-bottom: 0.5em;

  @media (min-width: 480px) {
    margin-bottom: 15px;
  }
}

.description {
  margin-bottom: 30px;
  line-height: 1.5;
  opacity: 0.8;

  @media (min-width: 480px) {
    font-size: 19px;
  }
}
