.footer {
  width: 100%;
  max-width: var(--site-width);
  margin: 0 auto;
  padding: var(--padding-2);
}

.nav {
  display: flex;
  padding: var(--padding-3) 0;
}

.navLinks {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.navLink {
  color: var(--link-color);
  margin-bottom: 1rem;
  width: fit-content;
  cursor: pointer;
  transition: border-color 0.15s ease-in;
  border-bottom: 2px solid transparent;

  :hover {
    border-color: var(--primary);
  }
}

.navLinkActive {
  color: var(--link-active-color);
  font-weight: 700;
}

.copyrightLabel {
  span {
    font-weight: 700;
  }
  text-align: center;
  margin: 2rem 0;
}
