.blogPosts {
  display: flex;
  flex-direction: column;
  //   padding: var(--padding-5) 0;
  margin-bottom: 5rem;

  h2 {
    font-size: 28px; // TODO Make variable
  }
}

.blogPost {
  margin-bottom: 2rem;

  h3 {
    font-size: 20px; // TODO Make variable
  }

  small {
    color: var(--colors-typeface-tertiary);
  }
}
