.about {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 5rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    justify-items: center;
  }
}

.description {
  h2 {
    margin-bottom: 0.5em;
  }

  p {
    font-size: var(--font-size-3);
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.9;
  }

  a {
    color: var(--primary);
  }
}

.bio {
  h3 {
    margin-block-start: 10px;
    margin-block-end: 10px;

    @media (max-width: 768px) {
      margin-block-start: 0px;
    }
  }

  @media (max-width: 768px) {
    display: flex;
    width: 100%;

    .bioDetailWrapper {
      display: flex;
      flex: 1 1 100%;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 2rem;

      button {
        margin-top: 0;
      }
    }
  }

  @media (max-width: 401px) {
    display: flex;
    flex-direction: column;
    .bioDetailWrapper {
      margin-left: 0;

      h3 {
        margin-block-start: 10px;
      }
    }
  }
}

.buttonLinkPrimary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 20px;
  margin-top: 1rem;
  border-radius: var(--border-radius-1);
  background-color: var(--primary);
  font-size: var(--font-size-1);
  font-weight: 700;
  color: var(--palette-gray-100);
  border: none;
  cursor: pointer;
  transition: all 0.15s ease-in;
  box-shadow: var(--shadow-2);

  &:hover {
    background-color: var(--primary-light);
    transform: scale(1.03);
  }
  &:focus {
    background-color: var(--primary-light);
    transform: scale(1.03);
  }
}
.buttonLinkSecondary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 20px;
  margin-top: 1rem;
  background-color: transparent;
  font-size: var(--font-size-1);
  font-weight: 700;
  color: var(--primary);
  cursor: pointer;
  transition: all 0.15s ease-in;
  border-radius: var(--border-radius-1);
  border: 2px solid transparent;

  svg {
    width: 18px;
    height: 18px;
    transition: opacity 0.15s ease-in, transform 0.15s ease-in;
    opacity: 0;
    transform: translateX(0px);
  }

  &:hover {
    color: var(--primary-light);
    transform: scale(1.03);
    border-color: var(--primary-light);
    svg {
      opacity: 1;
      transform: translateX(3px);
    }
  }
  &:focus {
    color: var(--primary-light);
    transform: scale(1.03);
    border-color: var(--primary-light);
    svg {
      opacity: 1;
      transform: translateX(3px);
    }
  }
}

.bioDetails {
  margin-bottom: 1rem;
  @media (max-width: 768px) {
    margin-bottom: 0px;
  }
}

.location {
  display: flex;

  p {
    color: var(--colors-typeface-tertiary);
  }

  svg {
    margin-right: 4px;
    width: 1.2rem;
    height: 1.2rem;
    fill: #ef4444;
  }
}

.externalLinks {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
}

.icon {
  display: flex;
  align-items: center;
  font-family: "FiraCode";
  font-size: var(--font-size-2);
  color: var(--primary);
  svg {
    margin-right: 4px;
    fill: var(--primary);
    width: var(--font-size-3);
    height: var(--font-size-3);
  }
}

.experience {
  margin-top: 3rem;
  .job {
    .jobTitle {
      font-size: var(--font-size-4);
      color: var(--colors-typeface-secondary);
      font-weight: 400;
      margin-block-start: 0px;
      margin-block-end: 0px;
    }

    .companyName {
      color: var(--secondary);
      font-weight: 700;
    }

    .jobSubtitle {
      color: var(--colors-typeface-tertiary);
      font-size: var(--font-size-3);
      font-family: "FiraCode", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    }

    .experienceList {
      margin-top: 1rem;
      padding-left: 10px;
      list-style-type: disc;

      li {
        margin-bottom: 1rem;
        padding-left: 10px;
        &::marker {
          color: var(--secondary);
          content: "•";
        }
      }
    }
  }
}
