.container {
  display: flex;
  border-radius: var(--border-radius-1);
  height: 400px;
  overflow: auto;

  .exampleWrapper {
    padding: 24px;
    background-color: var(--colors-background-secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    flex: 1 1 250px;

    .list {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: 0;
      padding-inline-start: 0;
    }

    .listItem {
      display: flex;
      align-items: center;
      padding: 12px;
      border-radius: 3px;
      background-color: var(--colors-background-primary);
      box-shadow: var(--shadow-1);
      cursor: pointer;
      font-size: var(--font-size-1);

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: var(--palette-gray-300);
        transition: color 0.15s ease-in;

        &:hover {
          color: var(--palette-gray-100);
        }
      }
    }
  }
}

.refreshButton {
  width: fit-content;
  border-radius: 50%;
  padding: 6px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--colors-typeface-secondary);
}
