@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;

    --dock-marker: 218, 51%, 40%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    /* --primary: 263.4 70% 50.4%; */
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 20% 98%;
    /* --secondary: 215 27.9% 16.9%; */
    --secondary: 160 84% 39%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    /* --ring: 263.4 70% 50.4%; */
    --ring: 221.2 83.2% 53.3%;

    --dock: 215 27.9% 15.9%;
    --dock-foreground: 209, 40%, 78%;
    --dock-highlight: 219, 88%, 90%;
    --dock-muted: 218, 51%, 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  article h2 {
    font-family: var(--font-editorial-new);
  }

  .dock-item-gradient {
    --base: hsl(262, 40%, 48%);
    --highlight: #cdbaef;

    --gradient-color-1: hsl(217.9 50.6% 14%);
    --gradient-color-2: hsl(215 27.9% 15.9%);

    background-image: linear-gradient(
      45deg,
      var(--gradient-color-1),
      var(--gradient-color-2),
      var(--gradient-color-1),
      var(--gradient-color-2)
    );
    background-size: 200% 100%;
  }

  .dock-item-top-gradient {
    --gradient-color-1: hsl(217.9 50.6% 24%);
    --gradient-color-2: hsl(215 27.9% 24%);

    border-radius: calc(0.5rem - 2px);
    background: linear-gradient(
      100deg,
      rgba(0, 0, 0, 0),
      var(--gradient-color-1),
      var(--gradient-color-2),
      rgba(0, 0, 0, 0)
    );
  }

  .dock-border-gradient {
    --gradient-color-1: hsl(217.9 50.6% 24%);
    --gradient-color-2: hsl(215 27.9% 40%);

    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0),
      var(--gradient-color-1),
      var(--gradient-color-2),
      rgba(0, 0, 0, 0)
    );
  }

  .dock-divider {
    --divider-color: hsl(217.9 50.6% 24%);
    background: var(--divider-color);
    mask-image: linear-gradient(
      0deg,
      transparent,
      rgb(255, 255, 255) 16px,
      rgb(255, 255, 255) calc(100% - 16px),
      transparent
    );
  }
}
